* {
    margin: 0;
    padding: 0;
}
html ,body{
    height: 100%;
}
body{
    background-size: cover;
    background-position: center;
}
a {
    text-decoration: none;
}
/*@media screen and (min-width: 576px) {*/
#app{
    height: 100%;
    overflow: hidden;
}
li{list-style-type: none;}

.container{
    width: 1500px;
    margin:50px auto;
    background:none;
}
@media (max-width: 1550px){
    .container{
        width: 1250px;
    }
}
@media (max-width: 1300px){
    .container{
        width: 1000px;
    }
}
@media (max-width: 1050px){
    .container{
        width: 750px;
    }
}
@media (max-width: 800px){
    .container{
        width: 750px;
    }
}
.speed-dial-container{
    widows: 100%;

}
.speed-dial-container > .item{
    width: 200px;
    height: 170px;
    margin:25px;
    background: none;
    display: inline-block;
    position: relative;
}
.speed-dial-container > .item > .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}
.speed-dial-container > .item .icon{
    width: 200px;
    height: 146px;
    border: 1px solid #AAA;
    box-shadow: 0px 0px 2px #666;
    background-color: rgba(255,255,255,0.95);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
}
.speed-dial-container > .item .title{
    width: 190px;
    height: 24px;
    display: block;
    text-align: center;
    background: #EEE;
    margin: 13px auto 0 auto;
    line-height: 24px;
    border-radius: 10px;
}

.navbar{
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 50px;
    align-items: center;
    background-color: rgb(52, 58, 64);
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    font-size: 16px;
    font-weight: 400;
    height: 56px;
    justify-content: flex-start;
    line-height: 24px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    text-align: left;
    text-size-adjust: 100%;
}
.navbar-brand{
    font-size: 26px;
    line-height: 40px;
    vertical-align: middle;
    color: #bd9f6f
}
.navbar-search{
    float:right;
    height: 30px;
    margin: 2px 200px 5px 0;
    padding:0;
}
.navbar-search  input {
    line-height: 30px;
    border-radius: 6px;
    padding:2px 5px;
    font-size: 16px;
    color: #000;
}
.navbar > img.logo {
    float: left;
    height: 40px;
    margin:0 20px 0 0px
}